{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.5.1/dist/dropzone.min.css">
{% endblock %}

{% block body %}

<!--Header-->
<nav class = "fast-nav navbar navbar-expand-lg navbar-light bg-white" style = "width : 1000px; margin : 0 auto;">
    <a class = "navbar-brand text-success col-sm-8" href = "{% url 'home' %}"><b>jiheestagram</b></a>
    <div class = "collapse navbar-collapse col-sm-4" id = "navbarText" style = "display:inline-block !important; text-align:right;">
        <span class = "navbar-text col-sm-3">
            <a href = "{%url 'relation' %}">친구 목록</a>
        </span>
        <span class = "navbar-text col-sm-3">
            <a href = "javascript:void(0);" id = "logoutButton">로그아웃</a>
        </span>
    </div>
</nav>

<!--username-->
<div style = "width:600px; margin:0 auto;">
    <br><br>
    <h2 class = "text-success">{{request.user}}</h2><br>
</div>

<script 
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/dropzone@5.5.1/dist/dropzone.min.js"></script>



<br>
<!--Create Content-->
<div id = "formContainer" style = "width:600px; margin:0 auto;">
    <form action = "{% url 'apis_content_create' %}" class = "dropzone" id = "uploader" style = "background-color:whitesmoke;">
        <div class = "dz-message" data-dz-message><span>드래그 드랍하거나 클릭하여 이미지 선택</span></div>
        <div class = "fallback"><input name = "file" type = "file"></div>
    </form>
    <div class = "form-group">
        <label>아래에 글을 입력해주세요.</label>
        <textarea class = "form-control rounded-0" id = "text" rows = "3"></textarea>
    </div>
    <div style = "text-align: right;">
        <button type = "button" class = "btn btn-success" id = "upload">작성하기</button>
    </div>
</div>

{% for content in contents %}
{% for image in content.image_set.all %}
<div class = "content" style = "width:600px; margin: 0 auto;">
    <div class = "post">
        <div class = "text-center user-block">
            <h5 class = "text-info left-things">{{content.user.username}}</h5>
            <img class = "img-info img-circle img-bordered-sm" src = "{{image.image.url}}" alt = "User Image" style = "width :400px; height:auto; margin: 0 auto;">
            {% endfor %}
            <div>
                <span class = "username left-things">
                    <a href = "#" class = "text-info"><b>{{content.user.username}}</b></a>
                    <a href = "#" class = "pull-right btn-box-tool"><i class = "fa fa-times"></i></a>
                </span>
            </div>
            <p>{{content.text}}</p>
        </div>
    </div>
</div>
{% endfor %}

<script>
    Dropzone.autoDiscover = false;
    var dropZoneUploader = new Dropzone('form#uploader', {
        init: function(){
            var dropzone = this;
            $('#upload').click(function() {
                dropZoneUploader.processQueue();
            });

            dropzone.on("sending", function(file, xhr, formData){
                formData.append("text", $('#text').val());
            });
        },
        parallelUploads : 10,
        autoProcessQueue : false,
        type : 'POST',
        success : function(){
            location.reload();
            toastr.success("<h3>success</h3>");
        },
        error : function(e) {
            console.log(e)
            alert('오류가 발생했습니다. 다시 시도해주세요.');
        },
        acceptedFiles : ".jpeg, .jpg, .png, .gif",
        uploadMultiple : true,
    });
</script>

<script>
    $(document).ready(function(){
        $('#logoutButton').click(function(){
            $.get('/apis/user/logout/', {}, function(){
                window.location = "{% url 'login' %}";
            });
        });
    });
</script>
{% endblock %}